.deps
.libs
.dirstamp
bin
obj
LoaderRuntime
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.log
config.status
libtool
mod_coreclr.la
*.lo
*.o
/Loader/.vs/Loader/v16/Server/sqlite3
/.vs/Managed/v16
/Loader/.vs/Loader/DesignTimeBuild/.dtbcache
